* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  background-color: #fffbf1;
}

/* #header{
} */

.main-img {
  width: 100%;
}

.head-img {
  position: relative;
}

.me-time {
  position: absolute;
  top: 35%;
  right: 28%;
  color: white;
}

.me {
  font-size: 70px;
  line-height: 55px;
  text-transform: initial;
  position: relative;
  text-shadow: -10px 20px 4px rgba(0, 0, 0, 0.386);
}

.me::after {
  content: "";
  width: 8px;
  box-shadow: -10px 20px 4px rgba(0, 0, 0, 0.386);
  top: 90%;
  left: 49.90%;
  height: 20px;
  position: absolute;
  background-color: white;
}

.time {
  position: absolute;
  left: 43px;
}

.info {
  font-size: 12px;
  margin: 0px;
  font-weight: 900;
}

.bi-arrow-left {
  font-size: 30px;
  font-weight: 900;
}

.atag {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  margin-left: 50px;
  width: 17%;
  justify-content: space-evenly;
  text-decoration: none;
  color: white;
}

.showpro-info {
  width: 100%;
  position: relative;
  /* background-color: red; */
}

/*.pro-image {
  width: 50%;
  height: 100px;
  background-color: blue;
} */

#box {
  /* background-color: blue; */
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

#innerbox1 {
  /* background-color: yellow; */
  margin: 20px;
  width: 50%;
  padding: 90px;
  text-align: center;
}

#pro-img {
  width: 70%;
}

#innerbox2 {
  width: 50%;
  /* background-color: green; */
}

#title {
  font-weight: 400;
  text-transform: uppercase;
  color: #ff5061;
  /* background-color: yellow; */
}

#desc {
  /* background-color: blue; */
  width: 55%;
  line-height: 28px;
}

#buybtn {
  color: #ff5061;
  border: 1px solid #ff5061;
  border-radius: 25px;
  padding: 0px 15px;
  text-decoration: none;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}
/*midel----------------------------*/
#show {
  color: black;
  display: flex;
  background-color: #532B1E;
}

#showing {
  color: black;
  width: 49.5%;
  margin: auto;
  
}

#any::after{
  content: "";
  width: 2px;
  left: 101%;
  top: 20%;
  position: absolute;
  height: 60%;
  position: absolute;
  background-color:white;
}

#showni{
  margin: 0;
  width: 49.5%;
  margin: auto;
}



#any {
  margin: 0;
  position: relative;
  float: right;
  height: 100%;
  font-size: 20px;
  padding: 30px;
  cursor: pointer;
  color: white;
}

#any2{
  float: left;
  margin: 0;
  font-size: 20px;
  cursor: pointer;
  padding: 30px;
  color: white;
}

#any:hover{
  background-color: #FF5061;
}

#any2:hover{
  background-color: #FF5061;
}

/*midel-end*/

.second-h2 {
  width: 100%;
  /* background-color: red; */
  text-align: center;
  margin: 70px auto;
  color: red;
  font-size: 23px;
  font-weight: 800;
}

.secondpro {
  width: 100%;
  margin: auto;
  display: flex;
  /* background-color: green; */
}

#main {
  margin: 20px 0;
  width: 25%;
  height: 500px;
  padding: 30px 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: 1px solid black;
}
#main:first-child {
  border-left: none;
}
#imgdiv {
  width: 100%;
  /* background-color: red; */
  text-align: center;
}

#pro {
  width: 90%;
  height: 315px;
}

#tit {
  width: 100%;
  font-size: 13px;
  margin: 0px;
  text-align: center;
}

#buybtn2 {
  margin: auto;
  color: #fff;
  border: 1px solid #f02635;
  border-radius: 25px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #f02635;
  text-transform: uppercase;
}
/*---------------------------------------*/
.activeacteofnutri{
  background-color: #FF5061;
}
pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
#Real_content {
  width: 60%;
  margin: 20px auto;
}
.location_icon_sidebar a img,.surprise_icon_sidebar a img,.search_icon_sidebar img{
  filter: none;
}
.main-side-nav{
  top: 20vh;
}
#Real_content{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  transition: all 0.5s;
}
.hide_real_content{
  opacity: 0.5;
}
.show_real_content{
  opacity: 1;
}